* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background: #ccc;
}

article {
  width: 210mm;
  height: 300mm;
  margin: 20px auto;
  position: relative;
}

address {
  position: absolute;
  bottom: 10px;
  right: 25px;
}

h1 {
  position: absolute;
  top: 10px;
  left: 25px;
  width: 150px;
  height: 150px;
  text-align: center;
  font-size: 25px;
  padding: 50px 0;
  color: white;
  text-shadow: 1px 1px 1px black;
}

article {
  background: url(top-image.png) left top;
  background: linear-gradient (to bottom, rgba(0,0,0,2), rgba(0,0,0,0) 20%,
  rgba(0,0,0,0) 80%, rgba(0,0,0,0.2),
  url(top-image.png) left top, url(bottom-image.png) left bottom;
  background-color: white;
  border-top: 1px red;
  border-bottom: 1px red;
}
